body{
    margin: 0;
    font-family: 'Gentium Book Plus', serif;
}
body h1{
    font-size: 70px;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 120px;
    padding: 10px;
}
footer h2{
    color: brown;
}

#myUpdate{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#myUpdate h1{
    margin-bottom: 0;
}

#myUpdate form{
    background-color: cadetblue;
    width: 80%;
    height: 100px;
    margin:0 auto;
}
#myEmail{
    margin-top: 30px;
    margin-right: 0;
    height: 30px;
    width: 250px;
}
#btnSubmit{
    margin-top: 30px;
    margin-left: -5px;
    height: 35px;
    width: 80px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: chocolate;
}
.text-center{
    text-align: center;
}
.flexView{
    display: flex;
}
.clsPlan{
    margin: 20px 40px;
    padding:15px;
    width: 25%;
}
.pln1{
    margin-left: 50px;
    background-color: beige;
}

.pln2{
    background-color: rgb(113, 146, 147);
}

.pln3{
    background-color: rgb(134, 104, 162);
}

.clsAmount{
    margin-left: 50px;
    height: 130px;
    width: 130px;
    padding: 20px;
    border: 3px solid saddlebrown;    
}

.clsAmount h1{
    font-size: 45px;
}

.clsDetail{
    font-size: 30px;
}

#OtherAmount{
    border-bottom: 2px solid silver;
    display: block;
}

.clsDonate{
    padding: 15px 40px;
    font-size: 20px;
}